# .gitinclude
# Ignores all files except those prefaced with a '!'

# Exclude all files...
*

# Except...
!*/
!*.md
!*.py
!*.sublime-project
!*.tex
!*.txt
!.flake8
!.gitignore
!.travis.yml

# But including...
.cache/
.pytest_cache/
cache/
data/
results/
